<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="An open source online judge.">
    <meta name="keywords" content="Online Judge,Competitive Programming,LimeOJ">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

    <script type="text/javascript" src="/static/js/jquery-3.2.0.js"></script>

    <title>
      {% block title %}
      LIME
      {% endblock %}
    </title>
  </head>

  <body>
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="position: relative; top: 20px;">
                <li class="sidebar-brand">
                    <a href="/">
                        <div style="display: inline-block;">
                          LIME
                        </div>
                    </a>
                </li>
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a href="/problems"><i class="fa fa-navicon" aria-hidden="true"></i> Problems</a></li>

                {% if logged_in() %}
                  <li><a href="/profile"><i class="fa fa-user" aria-hidden="true"></i> Profile</a></li>
                  <li><a href="/logout"><i class="fa fa-arrow-circle-left" aria-hidden="true"></i> Log out</a></li>
                {% else %}
                  <li><a href="/login"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Log in</a></li>
                {% endif %}
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div>
                
                <div class="row">
                  <div class="four columns">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                          <p class="alert alert-{{category}}">
                            {{ message }}
                            
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">
                              <i class="fa fa-times" aria-hidden="true"></i>
                            </a>
                          </p>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </div>
                </div>

                <div class="row">
                  {% block main %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </div>
  </body>

  {% block footerjs %}
    <script type="text/javascript" src="/static/js/footer.js"></script>
  {% endblock %}
</html>