<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="Secrets">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <meta name="author" content="John Doe">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 

    <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">

    <script type="text/javascript" src="/static/js/jquery-3.2.0.js"></script>

    <title>
      {% block title %}
      LIME
      {% endblock %}
    </title>
  </head>

  <body>
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav" style="position: relative; top: 20px;">
                <li class="sidebar-brand">
                    <a href="/">
                        <div style="display: inline-block;">
                          LIME
                        </div>
                    </a>
                </li>
                <li><a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a></li>
                <li><a href="/problems"><i class="fa fa-navicon" aria-hidden="true"></i> Problems</a></li>
                <li><a href="/login"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i> Login</a></li>
            </ul>
        </div>

        <div id="page-content-wrapper">
            <div>
                
                <div class="twelve columns">
                  {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                      {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        {{ message }}
                        </div>
                      {% endfor %}
                    {% endif %}
                  {% endwith %}
                </div>

                <div class="row">
                  {% block main %}
                  {% endblock %}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>