{% extends "base.html" %}

{% block title %}
LIME - Home
{% endblock %}

{% block main %}

<div class="eleven columns">
  <div id="logo-box">
    <div id="logo-image-box">
      <img src="/static/images/logo.png" height="64">
    </div>
    <div id="logo-text-box">
      <h1 style="margin-bottom: 0;">
        LIME

        <small id="logo-revision">
          <a href="https://github.com/Ohllie/LimeOJ">{{ rev }}</a>
        </small>
      </h1>
    </div>
  </div>


  <hr>

  I wish I had beer.<br>

  {% if not logged_in() %}
    Perhaps you want to <a href="/register">register</a>?
  {% endif %}
</div>

{% endblock %}