{% extends "base.html" %}

{% block main %}
<div class="four columns">
  <h2>Hey!</h2>

  <form action="/login" method="POST">
    <div class="row">
        <label for="username">Username</label>
        <input class="u-full-width" placeholder="Username" id="username" type="text">
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input class="u-full-width" placeholder="Password" id="password" type="password">
    </div>
    <input class="button-primary" value="Submit" type="submit">
  </form>
</div>

{% endblock %}