{% extends "base.html" %}
{% from "macros.html" import difficulty_stars %}

{% block title %}
LIME - Problems
{% endblock %}

{% block main %}
<div class="eleven columns">
  <h2>Problems</h2>
</div>

<table id="problems-table" class="padded-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Difficulty</th>
      <th>Times solved</th>
    </tr>
  </thead>
  <tbody>
    {% for problem in problems %}
      <tr class="clickable" data-href="/problem/{{ problem.id }}">
        <td>{{ problem.title }}</td>
        <td>
          {{ difficulty_stars(problem.difficulty | int) }}
        </td>
        <td>0</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}