{% extends "base.html" %}
{% from "macros.html" import difficulty_stars %}

{% block title %}
LIME - {{ problem.title }}
{% endblock %}

{% block main %}

<div class="five columns">
  <h1>
    {{ problem.title }}

    <small style="font-size: 15px;">
      {{ difficulty_stars(problem.difficulty | int) }}
    </small>
  </h1>
  <hr>

  {{ problem.description }}

  <hr>
  
  {% if examples | length %}
    <h3>Examples</h3>

    {% for example in examples %}
      <div class="row">
        <strong>Input</strong>
      </div>
      <code>
      {{ example.input -}}
      </code>

      <div class="spacer-10"></div>

      <div class="row">
        <strong>Output</strong>
      </div>
      <code>
      {{ example.output -}}
      </code>
    {% endfor %}

    <hr>
  {% endif %}

  <h3>Submit</h3>

  <form action="/problem/{{ problem.id }}/submit" method="POST" enctype="multipart/form-data">
    <div class="row">
      <label for="filetype">File type</label>
      <select name="filetype">
        {% for k, v in valid_langs() %}
          {% if k == "cpp11" %}
            <option value="{{ v }}" selected="selected">{{ k }}</option>
          {% else %}
            <option value="{{ v }}">{{ k }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <input type="file" name="file">
    <input class="button-primary" value="Submit" type="submit">
  </form>
</div>

{% endblock %}