{% extends "base.html" %}

{% block title %}
LIME - Profile
{% endblock %}

{% block main %}

<h1>
  <i class="fa fa-user"></i>
  {{user.username }}
</h1>
<hr>

<h4>
  Submissions
</h4>

<table id="problems-table" class="padded-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
    {% for s in submissions %}
      <tr class="clickable" data-href="/submission/{{ s.id }}">
        <td>{{ s.problem.title }}</td>
        <td>{{ s.status_long }}</td>
        <td>{{ s.result }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}