{% extends "base.html" %}

{% block title %}
LIME - Register
{% endblock %}

{% block main %}
<div class="three columns">
  <h2>Registration</h2>

  <form action="/register" method="POST">
    <div class="row">
        <label for="username">Username</label>
        <input class="u-full-width" placeholder="Username" id="username" type="text">
    </div>
    <div class="row">
        <label for="password">Password</label>
        <input class="u-full-width" placeholder="Password" id="password" type="password">
    </div>
    <input class="button-primary" value="Register" type="submit">
  </form>
</div>

{% endblock %}